@model IEnumerable<Rental_Store_Management.Models.Rental>

@{
    ViewData["Title"] = "Index";
}
<div id = "app">
    <h1>Index</h1>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div class="row">
        <div class="col">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon3">Search By Driver's License: </span>
      <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
    </div>
        </div>
        <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Search By Driver's Movie: </span>
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerDriverLicenseNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Movie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateRented)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateReturned)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="rental in rentals">
                <td>
                   {{ rental.customerDriverLicenseNumber}}
                </td>
                <td>
                   {{ rental.movie}}
                </td>
                <td>
                   {{ rental.dateRented}}
                </td>
                <td>
                   {{ rental.dateReturned}}
                </td>
                <td>
                    <a v-if="!rental.dateReturned" class="btn btn-link" :href="'/Rentals/Edit/' + rental.id">Return</a>
                    <span v-else class="text-success">Returned</span>
                </td>

        </tr>

        </tbody>
    </table>
</div>
@section Scripts {
    <script src="~/lib/vue.js"></script>
    <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                   rentals:[]
                }
            },
            async beforeMount(){
                const rentalRes = await fetch("https://localhost:7275/api/rentals");
                const movieRes = await fetch("https://localhost:7275/api/movies");

                this.rentals = await rentalRes.json();
                const movies = await movieRes.json();
                this.rentals = this.rentals.map(rental => ({...rental,movie:movies.find(movie => movie.id == rental.movieId).name}));
            }
        }).mount('#app')
    </script>
}
